@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contek-max-width: 1920px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}
