@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contek-max-width: 1440px;
  --contek-max-width-laptop: 1200px;

  --contek-padding-x-desktop: 64px;
  --contek-padding-x-laptop: 40px;
  --contek-padding-x-tablet: 64px;
  --contek-padding-x-mobile: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}
